{% load static %}

<!DOCTYPE html>
<html lang="eng">
    <head>

        <link rel="stylesheet" href="{% static 'index.css' %}">

        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Wallet.io</title>
    </head>

    <body>
        <center><h1>It's index page of Wallet.io</h1></center>
    <form>
        <ul>
            <li>Home</li>
            <li>Log in/ Log out</li>
            <li><i>Wallet.io</i></li>
        </ul>
    </form>
    </body>
</html>